.NumberContainer {
    display: flex;
    flex-grow: 0;
    margin: 4px;
    height: 60px;
    width: 60px;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.04);
}

.ColoredNumberContainer {
    display: flex;
    flex-grow: 0;
    margin: 4px;
    height: 60px;
    width: 60px;
    justify-content: center;
    background-color: #ff8080;
}

.MarkedNumberContainer {
    display: flex;
    flex-grow: 0;
    margin: 4px;
    height: 60px;
    width: 60px;
    justify-content: center;
    background-color: #d819b8;
}

.NumberContainerIsPrime {
    border-width: 1px;
    border-style: solid;
    border-color: #272d2f;
}
