.NumbersTable {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    border-width: 1px;
    border-style: solid;
    border-color: #000d1a;
    background-color: rgba(204, 230, 255, 0.6);
    padding: 8px;
    margin-bottom: 15px;
}

.NumbersTablePrimeNumber {
    margin-right: 10px;
}
