.TableWithInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.InputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}